@font-face {
  font-family: "Garamond8";
  src: url('../EBGaramond08-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Garamond12";
  src: url('../EBGaramond12-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Quentin";
  src: url('../Quentin.ttf') format('truetype');
}

@font-face {
  font-family: "Abel";
  src: url('../abel-regular.ttf') format('truetype');
}

/* reset css copy paste below*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset css copy paste above */

h1 {
  font-family: "Garamond8", serif;
  font-size: 120px;
  letter-spacing: 1.5px;
  color: black;
  /* text-shadow: 4px 4px 10px #000000; */
}

h2 {
  font-family: "Abel", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #E5E6E5;
}

h3 {
  /* font-family: "Quentin", sans-serif; */
  font-family: "Abel", sans-serif;
  font-size: 40px;
  color: white;
}

h4 {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5 {
  font-family: "Abel", sans-serif;
  font-size: 14px;
  color: #9e9e9e;
  letter-spacing: 2px;
  padding: 11px 0px 18px 0px;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: "Garamond12", serif;
  font-size: 16px;
  color: white;
  line-height: 23px;
}


nav {
  font-family: "Abel", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2.5px;
  text-align: center;
}

header nav a {
  text-decoration: none;
  color: white;
  background-color: #444bfd;
  padding: 15px 35px;
  text-align: center;
}


.nav_bar_image img{
  max-width: 100vw;
  min-height: 60px;
}

#home {
  position: absolute;
  display: flex;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

.nav_bar_image {
  z-index: -1;
}


#work {
  position: absolute;
  top: 25em;
  right: 0;
  transform: rotate(90deg);
  margin-right: -33px;
}

#about {
  position: absolute;
  top: 25em;
  transform: rotate(-90deg);
  margin-left: -36px;
}


nav a:hover {
  text-decoration: line-through white;
}

#dance_image {
  margin: 50px 30px 50px 50px;
}

#dance_image img {
  max-width: 500px;
  height: auto;
}

#dance_image_mobile {
  display: none;
}

.about_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #9e9e9e;
  height: 500px;
  width: 1000px;
  margin: auto;
  background-color: white;
  /* margin-top: -50px; */
  z-index: -1;
  position: relative;
}

.about_container p {
  color: black;
  font-size: 18px;
  line-height: 1.5em;
  font-weight: lighter;
}

.hi_box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  /* margin: 0px 360px -70px 360px; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;

}

.hi_box h1{
  padding: 0 20px;
  margin-top: -50px;
}

.container_box {
  margin-right: 50px;
}

.container_box h4 {
  padding-bottom: 20px;
}
.row {
  height: 20vh;
}

body {
  position: relative;
}

.contact_button {
  margin: auto;
  background-color: #444bfd;
  width: 125px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-footer {
  background-color: black;
  display: flex;
  margin: 0 2%;
  min-height: 55px;
  position: fixed;
  bottom: 0;
  width: 96.5%;
}

.sticky-button {
 margin-top: 0;
}

.hide {
  display: none !important;
}

footer {
  background-color: #000000;
  color: #E5E6E5;
  height: 280px;
  margin: 0 2%;
  width: 96.5%;
}

footer div {
  margin: 30px;
}

.footer_copy_container {
  display: flex;
  justify-content: space-between;
}

.footer_heythere {
  text-align: center;
  margin-right: 100px;
  line-height: 1.5;
}
/* .line_2 {
  display: flex;
  justify-content: flex-end;
} */

/* footer hr {
    display: inline;
} */

.footer_headers {
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #E5E6E5;
  opacity: 0.5;
}

#footer_h4 {
  color: white;
  opacity: 0.7;

}

.footer_copy {
  line-height: 20px;
}

.terms {
  height: 30px;
  background-color: #242424;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2%;
  width: 96.5%;
}

#terms_text {
  font-size: 10px;
}

.modal-background {
  padding: 40px;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* Use Flexbox to center the modal-content (the white part) vertically and horizontally
    https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
   */
  display: none;
  align-items: center;
  justify-content: center;

}

.modal-content {
  padding: 40px 20px;
  color: #444;
  background-color: white;
  width: 600px;
  text-align: center;
  position: relative;
}

.modal-content h3 {
  color: black;
  line-height: 40px;
  text-transform: uppercase;
  padding: 20px 0 10px 0;
}

.modal-content h4 {
  color: #9e9e9e;
  letter-spacing: 1px;
}

.modal-content p {
  color: black;
  line-height: 50px;
  font-size: 17px;
  text-align: left;
  /* padding-left: 15%; */
}


#close {
  position: absolute;
  right: 3%;
  top: 3%;
  border: none;
  font-size: 20px;
  outline: none;
}

input,
textarea {
	border: 1px solid #dfdfdf;
	padding: 10px 15px;
	border-radius: 2px;
	display: block;
	width: 70%;
	margin-bottom: 8px;
	font-size: 14px;
	outline: none;
	transition: border .3s ease;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-top: 20px;
}

textarea {
	height: 150px;
}


#submit {
  border: none;
  background-color: black;
  color: white;
  width: 125px;
  height: 35px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
}

form {
  padding-bottom: 20px;
}

select {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  display: flex;
}

#dropdown {
  display: block;
  margin: auto;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 15px;
  width: 70%;
}

/* pop up menu * original */

.hamburger {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.line {
  border-bottom: 4px solid white;
  width: 35px;
  margin-bottom: 6px;
}

.line:last-child {
  margin-bottom: 0;
}


.menu-modal-background {
  padding: 40px;
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* Use Flexbox to center the modal-content (the white part) vertically and horizontally
    https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
   */
  display: none;
  align-items: center;
  justify-content: center;

}

.menu-modal-content {
  padding: 40px 20px;
  color: #444;
  /* background-color: white; */
  /* color: black; */
  width: 600px;
  text-align: center;
  position: relative;
}

.menu-modal-content h3 {
  color: black;
  line-height: 40px;
  text-transform: uppercase;
  padding: 20px 0 10px 0;
}

.menu-modal-content h4 {
  color: #9e9e9e;
  letter-spacing: 1px;
  padding-top: 50px;
}

.menu-modal-content a:hover {
  color: #444bfd;
  transition: 0.2s;
}

.menu-modal-content p {
  color: black;
  line-height: 50px;
  font-size: 17px;
  text-align: left;
  /* padding-left: 15%; */
}

.menu-hide {
  display: none;
}

#close-menu {
  position: fixed;
  right: 18px;
  top: 15px;
  border: none;
  font-size: 30px;
  outline: none;
  background: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

/* about page css media queries */

@media screen and (max-width: 1100px) {
  .about_container {
    width: 700px;
    height: 700px;
    display: block;
  }

  .container_box {
    margin: 0 100px 50px 100px;
  }

  #dance_image {
    margin: 120px 100px 50px 100px;
  }
}


@media screen and (max-width: 930px) {
  .footer_heythere {
    margin-right: 4%;
  }
}

@media screen and (max-width: 700px) {
  .about_container {
    width: 100%;
    height: 80%;
    margin: auto;
  }

  .hi_box h1 {
    font-size: 85px;
  }

  .hi_box {
    margin-top: -40px;
  }

  /* .container_box {
    margin: 0;
  } */

  #dance_image {
    margin: 50px auto 20px auto;
  }
}

@media screen and (max-width: 640px) {
  .footer_copy_container {
    display: block;
    padding-top: 8px;
  }

  footer {
    height: 380px;
  }

  .footer_copy {
    text-align: center;
  }
}

@media screen and (max-width: 625px) {
  .menu-hide {
    display: unset;
  }

#work {
  display: none;
}

#about {
  display: none;
}

#home {
  display: none;
}

.nav_bar_image img {
  display: none;
}

.nav_bar_image {
  background-color: black;
  height: 60px;
  width: 100%;
}

.hi_box h1 {
  font-size: 65px;
}

.hi_box {
  width: 100%;
}

.about_container {
  border: none;
  width: auto;
}

#dance_image img {
  /* margin: 80px 0 50px 0px; */
  max-width: 100%;
}

.container_box {
  margin: 80px 10% 0px 10%;
}



@media screen and (max-width: 456px) {
  .modal-content p {
    line-height: 20px;
    text-align: center;
    padding: 10px 0 15px 0;
  }
  select {
    display: inline;
  }
  .modal-content h3 {
    font-size: 30px;
  }
  .modal-content h4 {
    font-size: 13px;
  }
}
@media screen and (max-width: 411px) {
  footer div {
    margin: 30px 10px;
  }
  footer h3 {
    font-size: 33px;
  }
}
